FIREBASE_SERVICE_ACCOUNT=
GCS_BUCKET=can-tax-pro-receipts-dev
GCP_PROJECT_ID=your-project-id
GCP_LOCATION=northamerica-northeast2

# For local dev with Firebase emulator:
# FIRESTORE_EMULATOR_HOST=localhost:8080
